
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="nav-link"  href="#" style="color:green;"><i class="fas fa-baseball-ball fa-2x"></i></i></a>
                     
      <a class="navbar-brand" href="#">LAWN TENNIS TRAINER</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <% if(displayName) { %>
          <li style="font-family:Georgia, serif;" class="nav-item">
            <span class="badge"> Hello, <%= displayName %></span>
          </li>
          <% }%>
          <li class="nav-item">
            <a class="nav-link" href="/home"><i class="fas fa-home fa-lg"></i> Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/contact"><i class="fas fa-phone fa-lg"></i> Contact</a>
          </li>
            
          <% if (displayName){ %>
          <!--profile-->
          <li>
                    <div class="btn-group">
                        <button type="button" class="btn-profile btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="far fa-user fa-lg"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-left dropstart user_info ">
                            <li><a class="user_email dropdown-item nav-link disabled" href="#">
                                    <i class="far fa-envelope"></i><span style="font-size:10px;color:#aaaaaa">Email</span>
                                    <br>
                                    <%=displayName%>
                                </a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">My Profile</a></li>
                            
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </div>
          </li>
          <%} else{%>
          <li class="nav-item">
            <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt fa-lg"></i> Login</a>
          </li>
          <%}%>
        </ul>
      </div>
    </div>
  </nav>