<div class="container">
        <p>
            <div class="row align-items-md-stretch">
                
                <div class="h-100 p-2 text-white bg-dark rounded-3">
                    <a href="/displaySeekerSearch"><i class="fas fa-arrow-alt-circle-left fa-3x"></i></a>
                    <h1 style="text-align:center"><%= title %></h1>
                </div>
        </p>
        </div>
<div class="container" style ="width: 100%;margin: auto;background-color: #fff;overflow: hidden;border-radius: 10px;">
            <ul class="list" style="list-style: none;"></ul>
            <div class="list-footer" style="display: flex;justify-content: space-between;align-items: center;background-color: rgb(110, 9, 169);color: #fff;padding: 1rem;">
                <button class="btn" style="padding: 0.5rem;border: none;font-size: 1rem;background: transparent;transition: background-color 0.3s ease;color: #fff;cursor: pointer;border-radius: 8px;" id="prev-page"><</button>
                <div><span id="current-page"></span> of <span id="total-pages"></span></div>
                <button class="btn" style="padding: 0.5rem;border: none;font-size: 1rem;background: transparent;transition: background-color 0.3s ease;color: #fff;cursor: pointer;border-radius: 8px;" id="next-page">></button>
            </div>
            </div>
           