<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS Section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/Content/app.css">
  
    
</head>
<body style="min-height: 400px;margin-bottom: 100px;clear: both;">
  <!-- Navigation Section -->
  <header>
    <%- include('../partials/seekerHeader.ejs'); %>
  </header>

  <!-- Main Content Section -->
  <main>
    <div class="container">
      <%- include('content/' + page + '.ejs'); %>
    </div>
  </main>
  
  <!-- Bottom Nav -->
  <footer>
    <%- include('../partials/seekerFooter.ejs'); %>
  </footer>
    
  <!-- JavaScript Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
  <script type='text/javascript', src = 'Scripts/myscript.js'> </script>
  <script type='text/javascript', src = 'Scripts/imageUpload.js'> </script>
  <script type='text/javascript', src = 'Scripts/pagination.js'> </script>
</body>
</html>
