<%- include('partials/defaultHeader'); %>

<meta charset="UTF-8" />

<main class="container">
    <div class="row align-items-md-stretch">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Recover your password</h2>
        </div>
    </div>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid">
            <div>
                <div class="container">
                    <!--email field-->
                    <div class="row mb-2">
                        <div class="col-md-6 offset-md-3">
                            <div class="mb-3">
                                <label for="user_email" class="form-label">Email address</label>
                                <input required type="email" class="form-control" id="user_email" placeholder="Please enter your email">
                            </div>
                        </div>
                    </div>

                <!--account type field-->
                    <div class="row mb-2">
                        <div class="col-md-6 offset-md-3">
                            <label class="form-label">Account type </label>
                        </div>
                    </div>
                    <!--account type field-->
                    <div class="row mb-2">
                        <div class="col-md-6 offset-md-3 mb-3">
                            <select id="user_account_type" class="form-select">
                                <option selected value="Trainer">Trainer</option>
                                <option value="Trainer Seeker">Trainer Seeker</option>
                                <option value="Auditor">Auditor</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </div>
                    </div>

                <!--send email button-->
                <div class="row">
                    <div class="col-md-2 offset-md-3">
                        <Button id="send_email_button" class="btn btn-primary">Send email</Button>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>
    <%- include('partials/defaultFooter.ejs'); %>
</main>
<script type="text/javascript" src="/scripts/recoverPassword.js"></script>

