

    <div class="container">
        <p>
            <div class="row align-items-md-stretch">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h1>Sign up to meet your lawn tennis goals</h1>
                </div>
        </p>


        <div class="row row-cols-1 row-cols-md-4 mb-4 text-center"style="align-content:center; justify-content:center;">

           
            
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                  <h4 class="my-0 fw-normal">Tennis trainer seeker</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">Sign<small class="text-muted fw-light">up</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>Sign up to find a trainer</li>                
                    <li>You can search trainers</li>
                    <li>Book an appointment</li>
                    <li>And many more</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-primary">
                    <a href="/registerSeeker">Sign up</a></button>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                  <h4 class="my-0 fw-normal">Tennis trainer</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">Sign<small class="text-muted fw-light"> up</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>Sign up to stay connected</li>
                    <li>Book appointments</li>
                    <li>Easy access</li>
                    <li>And many more</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-primary">
                    <a href="/registerTrainer">Sign up</a></button>
                </div>
              </div>
            </div>
    
          </div>
    </div>

        
