<meta charset="UTF-8" />

<main class="container">
    <div class="row align-items-md-stretch">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Recover your password</h2>
        </div>
    </div>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid">
            <div>
                <div class="container">
                    <!--new password field-->
                    <div class="row mb-2">
                        <div class="col-md-6 offset-md-3">
                            <div class="mb-3">
                                <label for="new_password" class="form-label">New password</label>
                                <input required type="password" class="form-control" id="new_password" placeholder="Please enter your new password">
                            </div>
                        </div>
                    </div>

                    <!--confirm new password field-->
                    <div class="row mb-2">
                        <div class="col-md-6 offset-md-3">
                            <div class="mb-3">
                                <label for="confirm_new_password" class="form-label">Confirm new password</label>
                                <input required type="password" class="form-control" id="confirm_new_password" placeholder="Please confirm your new password">
                            </div>
                        </div>
                    </div>

                    <!--invisible field to show account_type-->
                    <input  id="account_type" class="form-control" type="text" value=<%= account_type %> disabled hidden>
                    <!--invisible field to show UUID-->
                    <input  id="UUID" class="form-control" type="text" value=<%= UUID %> disabled hidden>


                    <!--reset password button-->
                <div class="row">
                    <div class="col-md-2 offset-md-3">
                        <Button id="reset_button" class="btn btn-primary">Reset</Button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
</main>
<script type="text/javascript" src="/scripts/resetPassword.js"></script>

