
  <!-- Main Content -->
  <div>
    
    <div class='container'>
    <div class="row col-12">
      <h1 style = "color: red;">Your account is suspended. Please contact us to resolve this issue </h1>
    </div>
      
  </div>
  
